---
import SEOBase from '@layouts/SEOBase.astro';
import Header from '@layouts/Header.astro';
---

<SEOBase
	title='Welcome to Astro.'
	description='si'
	keywords='palabra'
	image='@images/Background.jpg'>
	<Header activeMenu='Inicio' />
	<main></main>
</SEOBase>
