---
import SEOBase from '@layouts/SEOBase.astro';
import Header from '@layouts/Header.astro';
---

<SEOBase
	title='DevCode | Agencia de Diseño y Desarrollo Web'
	description='DevCode es una agencia de diseño y desarrollo web creativa y profesional. Creamos soluciones web únicas y efectivas para ayudar a tu negocio a destacar en línea. Diseñamos sitios web visualmente atractivos y funcionales que impulsan el crecimiento y el éxito de tu empresa.'
	keywords='Diseño web, Desarrollo web, Agencia de diseño web, Agencia de desarrollo web, Diseño de sitios web, Desarrollo de sitios web, Diseño web creativo, Desarrollo web profesional, Soluciones web personalizadas, Sitios web a medida, Diseño web efectivo, Desarrollo web innovador, Diseño web visualmente atractivo, Estrategia web, Creación de sitios web'
	image='@images/Background.jpg'>
	<Header activeMenu='Inicio' />
	<main></main>
</SEOBase>
