---
import SEOBase from '@layouts/SEOBase.astro';
import Header from '@layouts/Header.astro';
---

<SEOBase
	title='Nuestros Servicios de Diseño y Desarrollo Web | GalactiCode'
	description='Explora nuestros servicios de diseño y desarrollo web. Ofrecemos diseño web informativo, tiendas virtuales, blogs, aplicaciones web y más. Nuestra experiencia garantiza soluciones web a medida y visualmente atractivas.'
	keywords='Nuestros Servicios, Diseño de Sitio Web Informativo, Tienda Virtual, Blogs y Noticias, Landing Page, Aplicaciones Web, Rediseño Web, Desarrollo Web Personalizado, Diseño Web Profesional, Desarrollo de E-Commerce, Desarrollo de Blog, Diseño de Página de Aterrizaje, Desarrollo de Aplicaciones Web, Optimización de Sitios Web, Mejora de Experiencia de Usuario, Desarrollo Responsivo, Desarrollo Web a Medida, Soluciones Web Innovadoras, Diseño Visualmente Atractivo.'
	image='@images/Background.jpg'>
	<Header activeMenu='Servicios' />
	<main></main>
</SEOBase>
