// Colors
$reda: red;
$base:(
  "black": #000,
  "white": #FFF
);
$neutral: (
  "50": #FAFAFA,
  "100": #F5F5F5,
  "200": #E0E0E0,
  "300": #BDBDBD,
  "400": #737373,
  "500": #4F4F4F,
  "600": #333333,
  "700": #262626,
  "800": #171717,
  "900": #0A0A0A
);
$violet: (
  "50": #EDE9FA,
  "100": #C6BCF0,
  "200": #AA9BE9,
  "300": #836EDF,
  "400": #6B51D9,
  "500": #4626CF,
  "600": #4023BC,
  "700": #321B93,
  "800": #271572,
  "900": #1D1057
);
$blue: (
  "50": #E9F0FD,
  "100": #B9D2F9,
  "200": #98BCF6,
  "300": #689DF2,
  "400": #4B8AEF,
  "500": #1E6DEB,
  "600": #1B63D6,
  "700": #154DA7,
  "800": #113C81,
  "900": #0D2E63
);
$green: (
  "50": #E9F9F1,
  "100": #BCEDD4,
  "200": #9BE4C0,
  "300": #6ED7A3,
  "400": #51D091,
  "500": #26C475,
  "600": #23B26A,
  "700": #1B8B53,
  "800": #156C40,
  "900": #105231
);
$orange: (
  "50": #FDF4E9,
  "100": #F8DCBC,
  "200": #F4CB9C,
  "300": #F0B36E,
  "400": #EDA552,
  "500": #E88E27,
  "600": #D38123,
  "700": #A5651C,
  "800": #804E15,
  "900": #613C10
);
$red: (
  "50": #FCEBEB,
  "100": #F6C0BF,
  "200": #F2A2A1,
  "300": #EC7876,
  "400": #E95D5B,
  "500": #E33532,
  "600": #CF302E,
  "700": #A12624,
  "800": #7D1D1C,
  "900": #5F1615
);
$others: (
  "light-green": #25D366,
  "light-blue": #1DA1F2,
  "blue": #1877F2,
  "dark-blue": #000034,
  "youtube-red": #FF0000,
  "orange": #FF8500,
  "dark-orange": #F56040,
  "messenger-blue": #00B2FF
);

// Breakpoints
$breakpoints: (
  "mobile": 360px,
  "tablet": 744px,
  "laptop": 1280px,
  "desktop": 1440px,
  "bp-fontSize": 1024px
);

