<>
	<input type='checkbox' id='btn__burger' />
	<label for='btn__burger' class='btn_icon icon'>
		<div class='icon__line'></div>
		<div class='icon__line'></div>
		<div class='icon__line'></div>
	</label>
</>
<style lang='scss'>
	@use '@styles/utils/mixins.scss';
	.icon {
		width: 34px;
		height: 24px;
		padding: 2px;
		cursor: pointer;
		&__line {
			background-color: var(--white);
			width: 30px;
			height: 4px;
			border-radius: 50px;
			transition-duration: 0.5s;
			&:nth-child(2) {
				margin: 4px auto;
			}
		}
		@include mixins.responsive(large) {
			display: none;
		}
	}
	#btn__burger {
		display: none;
	}

	#btn__burger:checked + .btn_icon .icon__line {
		transition-duration: 0.5s;
		&:first-child {
			transform: translateY(8px) rotate(225deg);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:last-child {
			transform: translateY(-8px) rotate(-225deg);
		}
	}
</style>
