---
import { Icon } from 'astro-icon';

interface Props {
	name: string;
	icon: string;
	url: string;
}

const { name, icon, url } = Astro.props;
---

<a href={url}>
	<Icon name={icon} />
	{name}
</a>
